<form method="post" action="/articles">
  <div>
    <label>Title: </label>
    <input type="text" name="article[title]"></input>
  </div>
  <div>
    <label>Content: </label>
    <input type="text" name="article[content]"></input>
  </div>
  <input type="submit" value="Create New Article"></input>
  </form>
