<h2>Create a New Article</h2>
<form action='/articles' method='post'>

<div>
  <label>Title:</label>
  <input type='text' name="article[title]"/>
</div>
<div>
  <label>Content:</label>
  <input type='text' name="article[content]"/>
</div>
<input type='submit' name="Create your new article"/>
  </form>
